/*======== Typography =========*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Londrina+Solid:wght@300;400;900&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --clr-primary: #D928F2;
    --clr-secondary: #8B96E5;
    --clr-blue: #34B4CE;
    --clr-white: #fff;
    --clr-black: #000;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-size: 1.6rem;
    background-color: #F2F1E8;
}

strong {
    font-weight: 700;
}

/*======== Global Styles =========*/
body,
html {
    padding: 0;
    margin: 0;
    height: 100%;
}

button {
    border: none;
    outline: none;
}

ul {
    list-style-type: none;
    display: flex;
}

.langs {
    text-align: center;
    margin: 10px 20px;
    padding: 12px 24px;
}

a {
    color: #fff;
    text-decoration: none;
    padding: 12px;
    font-weight: 650;
    font-size: 20px;
}

a.active {
    border-radius: 5px;
    background: var(--clr-primary);
}

/*======== CONTAINER =========*/
.c-container {
    max-width: 1200px;
    padding: 0 1.6rem;
    margin: 0 auto;
}

.c-container--sm {
    max-width: 870px;
}


/*======== HERO SECTION =========*/
.hero-image-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/backgrounds/background.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    padding: 2rem;
}

.hero-nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.hero-nav-bar-logo {
    width: 290px;
    margin-bottom: 0.90rem;
}

.hero-nav-bar-logo-rockstar {
    width: 34px;
}

.preorderBotton {
    font-weight: bold;
    padding: 1rem 2rem;
    font-size: 20px;
    background-color: var(--clr-primary);
    color: var(--clr-white);
    box-shadow: 10px 8px 2px 1px var(--clr-secondary);    
    cursor: pointer;
}

.preorderBotton:hover {
    background-color: var(--clr-secondary);
    box-shadow: 10px 8px var(--clr-primary);
 
}

.hero-text-gta6logo {
    width: 300px;
}

.hero-text {
    color: var(--clr-white);
    padding: 0 5.67rem ;
    display: flex;
    align-items: flex-start;
    
}
.hero-text__box {
   margin: 3rem 0;
}

.hero-text-title {
    font-size: 28px;
    font-weight: bold;
}

.preorderBotton,
.hero-text-title {
    margin: 3rem 0;
}

#countdown {
  margin: 6rem 0;
}

#countdown ul {
    display: flex;
    justify-content: space-around;
}

#days, #hours, #minutes, #seconds {
    border-radius: 15px;
    font-size: 20px;
    font-weight: 500;
    padding: 1.34rem 1.7rem;
    color: var(--clr-black); 
    background-color: var(--clr-white);
}

.contdownDesc {
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    justify-content: space-around;
    margin-right: -1.67rem;
}

/*======== INTRO SECTION =========*/

.c-section-intro {
    padding: 6.4rem 0 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../images/backgrounds/back-introduction.png');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;    
    color: var(--clr-white);
}

.c-section-intro__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.c-section-intro__title {
    position: relative;
    font-size: 3.2rem;
    font-weight: 700;
    align-self: flex-start;
    padding-bottom: 6.4rem;
}

.c-section-intro__desc {
    line-height: 1.7;
    font-size: 22px;
    font-weight: 500;
}

.c-section-intro__title::after {
    position: absolute;
}

/*======== VIDEO SECTION =========*/
.c-section-video {
    padding: 6.4rem 0;
    background: linear-gradient(180.08deg, rgba(36, 36, 36, 0.9) 33.91%, rgba(60, 60, 60, 0.9) 99.93%), url('../images/gta6-video-bg.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

.c-section-video__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*======== Overview SECTION =========*/

.c-section-overview {
    padding: 6.4rem 0;
    background: linear-gradient(180deg, rgba(60, 60, 60, 0.9) 22.19%, rgba(167, 70, 181, 0.9) 56.56%, rgba(221, 65, 243, 0.9) 83.65%);
}

.c-section-overview__title {
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
    color: var(--clr-black);
}

/*======== CHARACTERS SECTION =========*/
.c-section-characters {
    padding: 6.4rem 0 0 0;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--clr-white);
    background-image: linear-gradient(180deg, rgba(221, 65, 243, 0.9) 37.81%, rgba(196, 81, 237, 0.9) 100%), url('../images/backgrounds/back-introduction.png');
}

.c-section-characters__title {
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
    margin-left: 3rem;
    color: var(--clr-black);
    margin-bottom: 6.2rem;
}

.c-section-characters__content {  
    position: relative;   
    width: 100%;
    overflow: hidden;
}

.c-section-character__img {
    width: 390px; 
}


.slide .image {
   height: 600px;
   width: 450px; 
}

.c-section-characters__text {
    padding: 5rem 4rem;
    background-color: var(--clr-black);
}

.c-section-character__desc {
   line-height: 1.7; 
   margin: 2.34rem 0;
}

.c-section-character__title {
    text-align: end;
    font-size: 32px;
    font-weight: 700;
}
.swiper-slide {
    font-size: 18px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: flex-start;
}

.c-section-character__button {
    padding: 1rem 3.90rem;
    font-weight: 700;
    color: var(--clr-black);
    font-size: 18px;
    margin-top: 1rem;
    background-color: var(--clr-primary);

}

.clyde-btn {
    color: var(--clr-black);
    background-color: var(--clr-blue);
}

.swiper-backface-hidden .swiper-slide {
  padding: 0 5rem;
}

.swiper-button-next:after, .swiper-button-prev:after {
   font-weight: 900;
   color: var(--clr-blue);
}

.swiper-pagination-bullet-active {
    background-color: var(--clr-blue);
    width: 1.67rem;
    height: 1.67rem;
}
.swiper-pagination-bullet {
    width: 1.67rem;
    height: 1.67rem;  
}
/*========== VERSION SECTION ============*/

.c-section-version {
    padding: 6.4rem 0;
    background: linear-gradient(180deg, rgba(196, 81, 237, 0.9) 22.71%, rgba(155, 116, 228, 0.9) 50.31%, rgba(125, 141, 222, 0.9) 79.48%);
}

.c-section-version__title {
    font-size: 4rem;
    font-weight: 700;
    text-align: left;
    margin-left: 3rem;
    color: var(--clr-black);
    margin-bottom: 3.2rem;
}

.c-section-version__container { 
    display: flex;
    padding: 3.89rem;
    justify-content: space-between;
    align-items: center;
}

.c-section-version__left {
    padding: 4rem 2.56rem;
    text-align: center;
    background-color: RGBA(52, 180, 206, 0.25);
}

.c-section-version__logo {
  width: 230px;
}

.c-section-version__left--title,
.c-section-version__right--title { 
   margin-top: 2rem;
   margin-bottom: 2.90rem;
   font-weight: 700;
   font-size: 25px;
   color: var(--clr-black);
}

.c-section-version__left--plateforme  {
    display: flex;
    font-weight: 500;
    align-items: center;
    justify-content: space-around;
}

.c-section-version__left--plateforme li  {
    padding: 1rem;
    font-size: 1.90rem;
}

.c-section-version__right--bonus {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.c-section-version__right--text {
   font-size: 1.59rem;
   margin-bottom: 2.90rem;
}

.c-section-version__btn { 
    padding: 1.4rem 2.78rem;
    border-radius: 15px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--clr-white);
    margin-top: 1.78rem;
    background-color: var(--clr-primary);
}

/*======== PARTNERS SECTION =========*/
.c-section-partner {
    padding: 6.4rem 0;
    background: linear-gradient(180deg, rgba(125, 141, 222, 0.9) 0%, rgba(82, 190, 212, 0.9) 100%);
}

.c-section-partner__title {
    font-size: 4rem;
    font-weight: 700;
    color: var(--clr-white);
    text-align: center;
    margin-bottom: 5rem;
}

.c-section-partner__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    align-items: center;
    justify-items: center;
    grid-gap: 3.90rem;
}
.c-section-partner__item {
    padding: 2.89rem;
}

.c-section-partner__item {
    max-width: 22rem;
}

/*========== FAQ SECTION ============*/
.c-section-faq {
    padding: 6.4rem 0;
    background: linear-gradient(180deg, rgba(82, 190, 212, 0.9) 0%, rgba(125, 205, 221, 0.9) 100%);
}

.c-section-faq__title {
    font-size: 4.8rem;
    font-weight: 700;
    color: var(--clr-white);
    text-align: center;
    margin-bottom: 3.2rem;
}

.c-section-faq__quetions {
    max-width: 890px;
    margin: 0 auto;
    font-weight: 500;
    font-size: 18px;
}

.c-faq {
    opacity: 0.8;
    padding: 30px;
    margin: 20px 0;
    overflow: hidden;
    position: relative;
    line-height: 1.5;
    border-radius: 15px;
    background-color: var(--clr-white);
}

.c-faq.active {
   background-color: var(--clr-white);
   opacity: 0.8;
}


.c-faq-title {
    margin: 0 35px 0 0;
}

.c-faq-text {
    display: none;
    margin: 30px 0 0 ;
} 

.c-faq.active .c-faq-text {
    display: block;
}

.c-faq-toggle {
    background-color: transparent;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    padding: 0;
    position: absolute;
    top: 30px;
    right: 30px;
    height: 30px;
    width: 30px;
}

.c-faq-toggle:focus {
    outline: 0;
}

.c-faq-toggle .fas {
   color: var(--clr-blue);
}

.c-faq-toggle .fa-times {
    display: none;
}

.c-faq.active .c-faq-toggle .fa-times {
    display: block;
}

.c-faq.active .c-faq-toggle .fa-caret-down {
    display: none;
}

/*======== FOOTER SECTION =========*/

.c-footer {
    background: linear-gradient(180deg, rgba(125, 205, 221, 0.9) 0%, rgba(157, 215, 227, 0.9) 100%);
    padding: 4.8rem 0 1.6rem 0;
}

.c-footer__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.6rem;
}

.c-footer__social {
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

.c-footer__social-item {
    width: 3rem;
    height: 3rem;

}

.c-footer__social-item img {
    width: 100%;
    height: 100%;
}

.c-footer__mention {
    margin-top: 0.8rem;
    font-size: 1.2rem;
    text-align: center;
}

/*======== MEDIA QUERIES =========*/

