:root {
    --clr-primary: #D928F2;
    --clr-secondary: #8B96E5;
    --clr-blue: #34B4CE;
    --clr-white: #fff;
    --clr-black: #000;
  }
  
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*======== Typography =========*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Londrina+Solid:wght@300;400;900&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
    font-size: 62.5%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-size: 1.6rem;
    background-color: #F2F1E8;
}

strong {
    font-weight: 700;
}


/*======== Global Styles =========*/

body, html {
  padding: 0;
  margin: 0;
  height: 100%;
}
  
ul {
  list-style-type: none;
  display: flex;
}

nav a {
  text-decoration: none;
  color: var(--clr-white);
  padding: 0.5rem;
  display: block;
}

button {
    border: none;
    outline: none;
}
/*======== HERO SECTION =========*/

.hero-image {
    height: 100%;
}

.hero-image-container {
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-nav-bar {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}

.hero-nav-bar-logo {
    width: 290px;
   
}

.hero-nav-bar .preorderBotton {
    background-color: var(--clr-primary);
    color: var(--clr-white);
    padding: 0.5rem 1rem;
}

.hero-nav-bar a:hover{
    background-color: transparent;
    border: solid 1px var(--clr-secondary);
}

.hero-text-gta6logo {
    width: 350px;
}
 
.hero-text {
    height: 90%;
    width: 100%;
    color: white;
    
}


/*======== PARTNERS SECTION =========*/
/*========== FAQ SECTION ============*/
/*======== FOOTER SECTION =========*/




